@charset "UTF-8";
/* 값 설정 */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap");
/* 값 설정 끝 */
/* 초기화 { */
html {
  overflow-y: scroll; }

html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  margin: 0;
  padding: 0;
  font-size: 0.94em;
  background: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1.2em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  color: #151d41; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ul, dl, dt, dd, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

legend {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999em;
  overflow: hidden; }

label, input, button, select, img {
  vertical-align: middle;
  font-size: 1.1em; }

input, button {
  margin: 0;
  padding: 0;
  outline: none;
  font-size: 1.1em; }

input[type="submit"], button {
  cursor: pointer; }

textarea, select {
  font-size: 1.1em; }

select {
  margin: 0; }

p {
  margin: 0;
  padding: 0;
  word-break: keep-all;
  color: #151d41; }

hr {
  display: none; }

pre {
  overflow-x: scroll;
  font-size: 1.2em; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body, p, span, pre, i, b, a {
  font-weight: normal;
  font-style: normal;
  font-family: "Josefin Sans", sans-serif;
  font-weight: normal;
  color: #151d41; }

/* } 초기화 끝  */
/* 레이아웃 기본 설정 */
#hd, #ft {
  width: 100%; }

#gnb, .sec_wr, .img_wr {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative; }

#container {
  width: 100%;
  position: relative;
  top: -105px; }

section {
  width: 100%;
  position: relative;
  margin: 50px 0; }

section:after {
  content: '';
  display: block;
  visibility: hidden;
  clear: both; }

/* 상단 레이아웃 */
#hd {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  left: 0;
  background: transparent;
  z-index: 999999; }

#gnb {
  margin-top: 50px;
  padding-top: 10px; }
  #gnb:after {
    clear: both;
    visibility: hidden;
    content: '';
    display: block; }

#logo {
  float: left; }
  #logo a {
    overflow: hidden; }
  #logo img {
    height: 35px;
    width: auto; }

#tnb {
  float: right;
  padding-bottom: 10px; }
  #tnb li {
    display: inline-block; }
    #tnb li a {
      font-weight: bold;
      color: #5b5b5b;
      position: relative;
      margin: 0 10px;
      line-height: 35px;
      padding: 10px;
      font-size: 1.1em; }
      #tnb li a:after {
        content: '';
        display: block;
        height: 2px;
        background: #000;
        width: 0;
        transition: width .2s;
        position: absolute;
        bottom: 3px;
        left: 10px; }
    #tnb li.active a, #tnb li:hover a {
      color: #000; }
    #tnb li.active a:after, #tnb li:hover a:after {
      width: 80%; }
    #tnb li:last-child a {
      padding-right: 0;
      margin-right: 0; }

/* 상단 레이아웃 끝 */
/* 중단 레이아웃 */
.path {
  position: absolute; }

.pic {
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: cover; }

.back {
  background-image: url("../images/back.png"); }

.line1 {
  background-image: url("../images/line1.png"); }

.line2 {
  background-image: url("../images/line2.png"); }

.dott {
  background-image: url("../images/dott.png"); }

.ring {
  border: 9px solid #27debf;
  border-radius: 50%;
  background: transparent;
  width: 39px;
  height: 39px;
  box-sizing: border-box;
  opacity: 0.22; }

.round {
  border-radius: 50%;
  background: #27debf;
  width: 87px;
  height: 87px;
  opacity: 0.22; }

.btn {
  padding: 10px 40px;
  border-radius: 5px;
  text-transform: capitalize;
  position: relative; }

.btn_m {
  background: #27debf;
  color: #fff; }

.btn_w {
  background: #fff;
  color: #151d41; }

.rd_btn {
  border-radius: 26px;
  color: #000;
  font-weight: bold; }

.category {
  display: inline-block;
  color: #27debf;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 5.4; }
  .category:after {
    display: block;
    width: 100%;
    position: absolute;
    height: 20%;
    border-radius: 30px;
    background: #27debf;
    opacity: 0.1;
    top: 45%;
    left: 10%;
    content: ''; }

.title_wr {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.title {
  color: #151d41;
  position: relative;
  text-transform: capitalize;
  font-size: 2.5em;
  font-weight: bold;
  line-height: 1.25;
  display: inline-block; }
  .title:after {
    display: block;
    width: 90%;
    height: 70%;
    border-radius: 30px;
    background: #27debf;
    opacity: 0.1;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    box-sizing: content-box; }

#home .back {
  width: 994px;
  height: 1096px;
  left: 30%;
  top: -230px; }
#home .line1 {
  width: 391px;
  height: 468px;
  left: -15%;
  top: 217px; }
#home .line2 {
  width: 439px;
  height: 406px;
  left: 36%;
  top: 299px; }
#home .r1 {
  top: 185px;
  left: 81%; }
#home .r2 {
  top: 426px;
  left: 99%; }
#home .r3 {
  top: 779px;
  left: 101%; }
#home .r4 {
  top: 681px;
  left: 34%; }
#home .r5 {
  top: 267px;
  left: 32%; }
#home .r6 {
  top: 607px;
  left: 4.5%; }
#home .r7 {
  top: 525px;
  left: 52.4%;
  opacity: 0.06; }
#home .sec_wr::after {
  content: '';
  display: block;
  visibility: hidden;
  clear: both; }
#home .sec_wr {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 17% 0; }
#home .sec_txt {
  padding-left: 10%;
  padding-top: 7%; }
  #home .sec_txt h1 {
    font-weight: normal;
    font-size: 4.2em;
    text-transform: capitalize;
    line-height: 1.17;
    letter-spacing: -3px;
    color: #000; }
    #home .sec_txt h1 b {
      font-weight: bold;
      letter-spacing: normal;
      color: #000; }
  #home .sec_txt p {
    font-size: 1.75em;
    line-height: 2.4;
    color: #455a64; }
  #home .sec_txt .st_btn {
    margin: 47px 0 21px;
    line-height: 1.7; }
    #home .sec_txt .st_btn .rd_btn {
      line-height: 2;
      font-weight: 600; }
    #home .sec_txt .st_btn .more {
      display: inline-block;
      padding-left: 18px;
      font-weight: bold;
      font-size: 1.25em;
      line-height: 1.67; }
#home .sec_img {
  max-width: 426px; }
  #home .sec_img img {
    width: 100%; }

#about .sec_wr {
  display: flex;
  justify-content: center;
  max-width: 904px; }
#about .intro > div {
  flex-basis: 40%; }
#about .sec_img {
  position: relative;
  text-align: center;
  margin-right: 50px;
  max-width: 450px;
  background-image: url("../images/dott.png");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 25%; }
  #about .sec_img img {
    width: 431px; }
#about .rig {
  width: 50%;
  border: 30px solid #27debf;
  position: absolute;
  top: -16%;
  left: -13%;
  z-index: 2;
  box-sizing: border-box;
  max-width: 161.6px;
  border-radius: 50%; }
#about .rig:after {
  display: block;
  padding-bottom: 100%;
  content: ''; }
#about .sec_txt {
  padding-top: 34px;
  max-width: 322px; }
  #about .sec_txt h6 {
    font-size: 0.8em; }
  #about .sec_txt h3 {
    font-size: 1.4em;
    color: #151d41;
    font-weight: bold;
    line-height: 1.2;
    padding-bottom: 30px; }
  #about .sec_txt p {
    line-height: 1.4;
    font-size: 1.2em;
    color: #000;
    margin-bottom: 55px; }
  #about .sec_txt button {
    padding: 20px 45px;
    border: 0;
    font-size: 0.83em; }
#about .graph {
  margin: 68px auto;
  justify-content: space-between; }
#about .graph_item {
  flex-basis: 25%;
  max-width: 185px;
  background: #fff;
  box-shadow: 0 15px 20px 0 rgba(21, 29, 65, 0.06);
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }
#about .graph_item:after {
  display: block;
  padding-bottom: 100%;
  content: ''; }
#about .graph_line, #about .graph_per {
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%; }
#about .graph_line {
  border: 2px solid rgba(15, 191, 97, 0.2);
  box-sizing: border-box; }
#about .graph_per {
  transform: translate(-50%, -50%) rotate(-45deg);
  border: 5px solid #27debf;
  width: 72%;
  height: 72%; }
#about .graph_text {
  font-size: 2.4em;
  font-weight: bold;
  text-align: center;
  line-height: 1.4; }
#about .graph_text span {
  font-size: 0.25em;
  font-weight: normal;
  display: block;
  text-transform: uppercase; }
#about .graph_item:nth-child(1) .graph_per {
  border-color: transparent #27debf #27debf transparent; }
#about .graph_item:nth-child(2) .graph_per {
  border-color: transparent #27debf transparent transparent; }
#about .graph_item:nth-child(3) .graph_per {
  border-color: transparent #27debf #27debf #27debf; }
#about .graph_item:nth-child(4) .graph_per {
  border-color: transparent #27debf #27debf transparent; }

#service {
  background-position: 95% 90%;
  background-size: 18%;
  background-image: url("../images/dott.png");
  background-repeat: no-repeat; }
  #service .card_wr {
    margin: 90px auto;
    max-width: 1063px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 1426px;
    padding-bottom: 40px; }
  #service .card {
    box-sizing: border-box;
    padding: 59px 38px;
    flex-basis: 40%;
    box-shadow: 0 20px 20px 0 rgba(118, 130, 183, 0.18);
    max-width: 521px;
    max-height: 287px;
    flex-grow: 1;
    border-radius: 3px;
    background: #fff; }
  #service .subject {
    font-weight: 600;
    font-size: 1.8em;
    padding: 18px 0;
    text-transform: capitalize;
    position: relative; }
  #service .card span {
    font-size: 1.2em;
    color: #686868; }
  #service .per {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 18px; }
  #service .bar {
    margin: 5px 0;
    width: 100%;
    height: 5px;
    background: rgba(15, 191, 97, 0.2); }
  #service .bar .bar_fill {
    height: 100%;
    background: #27debf;
    width: 80%; }
  #service .card:nth-child(2) .bar_fill {
    width: 95%; }
  #service .card:nth-child(3) .bar_fill {
    width: 85%; }
  #service .card:nth-child(5) .bar_fill {
    width: 75%; }
  #service .desc {
    padding: 50px 42px;
    max-width: 442px;
    max-height: 517px;
    flex-grow: 0; }
  #service .icon {
    width: 35%;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 2px solid #27debf; }
  #service .i1 {
    background-image: url("../images/desktop1.png"); }
  #service .i2 {
    background-image: url("../images/cloud.png");
    border-color: #fff; }
  #service .i3 {
    background-image: url("../images/desktop2.png"); }
  #service .icon:after {
    display: block;
    padding-bottom: 100%;
    content: ''; }
  #service .desc p {
    line-height: 1.63;
    margin-bottom: 40px;
    margin-top: 25px; }
  #service .desc.btn_m .subject {
    border-bottom-color: #27debf; }
  #service .desc .btn {
    padding-left: 22px; }
  #service .desc img {
    height: 11px;
    position: absolute;
    right: 15px;
    top: 12px; }
  #service .sttr {
    position: relative;
    width: 100%;
    height: 3px; }
  #service .sttr span {
    position: absolute;
    top: 0;
    left: 0;
    width: 8%;
    height: 3px;
    background: #27debf; }
  #service .sttr span:nth-child(2) {
    left: 50px; }
  #service .sttr span:nth-child(3) {
    left: 100px; }
  #service .btn_m .sttr span {
    background: #fff; }
  #service .btn_m p {
    color: #fff; }
  #service .card.btn_m {
    background: #27debf; }

.more_wr {
  text-align: center;
  margin-bottom: 70px; }

.con_more {
  padding: 20px 45px; }

#news .thumb_wr {
  display: flex;
  justify-content: flex-start;
  margin: 60px 0;
  padding: 20px 0;
  max-height: 360px;
  flex-wrap: wrap;
  overflow: hidden; }
#news .thumb {
  flex-basis: 25%;
  max-width: 239px;
  max-height: 303px;
  position: relative;
  overflow: hidden;
  margin: 20px 2.4%;
  text-align: center; }
#news .thumb:nth-child(4n+1) {
  margin-left: 0; }
#news .thumb:nth-child(4n) {
  margin-right: 0; }
#news .thumb img {
  width: 100%; }
#news .thumb_desc {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background: rgba(39, 222, 191, 0.7);
  display: none;
  transition: display .2s; }
#news .thumb_sub {
  padding-top: 35%;
  font-size: 1.7em;
  color: #fff;
  cursor: default;
  line-height: 2.5; }
#news .thumb_more {
  color: #fff;
  font-size: 2em;
  border-radius: 50%;
  border: 2px solid #fff;
  display: inline-block;
  text-align: center;
  line-height: 37px;
  padding: 0 10px; }
#news .thumb_more:hover {
  color: #27debf;
  background: #fff; }
#news .thumb:hover .thumb_desc {
  display: block; }

#resource .sec_wr {
  text-align: center; }
#resource .aaa {
  width: 30px;
  height: 40px;
  display: inline-block;
  margin: 40px 0; }
#resource .aaa div {
  width: 10px;
  height: 40px;
  background: #27debf;
  display: inline-block; }
#resource .aaa div:nth-child(2) {
  background: #fff; }
#resource .b {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.63;
  max-width: 820px;
  margin: 0 auto; }
#resource .name_wr {
  margin: 40px auto; }
#resource #name_name {
  font-size: 1.98em;
  text-transform: capitalize; }
#resource #name_title {
  line-height: 3;
  font-size: 1.08em; }
#resource .profile_move {
  max-width: 150px;
  margin: 20px auto; }
#resource #move_pager {
  margin-bottom: 20px; }
  #resource #move_pager a {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #000;
    display: inline-block;
    margin: 0 3px; }
  #resource #move_pager a.active {
    background: #27debf; }
#resource #profile {
  width: 100%;
  position: relative;
  height: 100px; }
  #resource #profile .profile_cir {
    width: 86px;
    height: 86px;
    box-sizing: border-box;
    border: 2px solid #27debf;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.6);
    position: absolute;
    overflow: hidden;
    background: #fff; }
  #resource #profile .profile_cir img {
    width: 100%; }
  #resource #profile .profile_cir:nth-child(1) {
    left: 3%; }
  #resource #profile .profile_cir.show {
    transform: translate(-50%, -50%) scale(1.2);
    border-width: 4px;
    z-index: 2; }
  #resource #profile .profile_cir:nth-child(3) {
    left: 97%; }
#resource .line1 {
  width: 389.3px;
  height: 466.1px;
  top: 0;
  left: 7%;
  opacity: 0.5; }
#resource .r1 {
  top: 28.5px;
  right: 25%; }
#resource .r2 {
  top: 462.5px;
  left: 60%; }
#resource .r3 {
  top: 389.5px;
  left: 26%; }

#contact {
  margin-top: 100px;
  margin-bottom: 222px; }
  #contact .back {
    width: 994px;
    height: 1096px;
    top: -120px;
    left: 28%; }
  #contact .card_wr {
    margin: 60px auto;
    max-width: 1096px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 480px;
    padding-bottom: 40px; }
  #contact .card {
    box-sizing: border-box;
    flex-basis: 33%;
    box-shadow: 0 20px 20px 0 rgba(118, 130, 183, 0.18);
    max-width: 336px;
    max-height: 446px;
    flex-grow: 1;
    border-radius: 5px;
    background: #fff;
    width: 336px;
    text-align: left;
    margin-bottom: 40px;
    margin-right: 44px; }
  #contact .card_img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 219px; }
  #contact .card_line {
    width: 20%;
    margin: 15px 0; }
  #contact .card_line > div {
    width: 30%;
    height: 3px;
    display: inline-block;
    padding: 0; }
  #contact .card_line .mint {
    background: #27debf; }
  #contact .card_line .white {
    background: #fff; }
  #contact .card_desc {
    padding: 10px 20px 27px; }
  #contact .card_desc h6 {
    color: #27debf;
    line-height: 1.94; }
  #contact .card_desc p {
    color: #151d41;
    line-height: 1.4; }
  #contact .card_desc b {
    color: #151d41; }
  #contact .card a {
    color: #27debf;
    padding: 10px 20px 27px;
    display: inline-block;
    line-height: 1.94; }
  #contact .card a img {
    height: 10px;
    padding-left: 10px; }
  #contact .card:nth-child(4n) .card_img {
    background-image: url("../images/b1.png"); }
  #contact .card:nth-child(4n+1) .card_img {
    background-image: url("../images/b2.png"); }
  #contact .card:nth-child(4n+2) .card_img {
    background-image: url("../images/b3.png"); }
  #contact .card:nth-child(4n+3) .card_img {
    background-image: url("../images/b2.png"); }
  #contact .card:nth-child(3n) {
    margin-right: 0; }

/* 중단 레이아웃 끝 */
/* 하단 레이아웃 */
/* 하단 레이아웃 끝 */

/*# sourceMappingURL=defalut.css.map */
