@charset "utf-8";

/* 값 설정 */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');
$font : 'Josefin Sans', sans-serif;

$color_back : #fff;
$color_point : #27debf;
$color_head : #151d41;
$color_under : #0fbf61;

/* 값 설정 끝 */

/* 초기화 { */

html{overflow-y: scroll;}
html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0;}
body {margin: 0; padding: 0; font-size: 0.94em; background: $color_back;} //body 글씨크기
h1, h2, h3, h4, h5, h6 {font-size: 1.2em; font-family: $font; font-weight: bold; color: $color_head;} // h 글씨크기
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; }
ul, dl, dt, dd, ol {margin: 0; padding: 0; list-style: none; }
legend {position: absolute; margin: 0; padding: 0; font-size: 0; line-height: 0; text-indent: -9999em; overflow: hidden; }
label, input, button, select, img {vertical-align: middle;font-size: 1.1em; }
input, button { margin: 0; padding: 0; outline: none; font-size: 1.1em; } //btn 글씨크기
input[type="submit"], button {cursor: pointer; }
textarea, select {font-size: 1.1em;} // textarea 글씨크기
select {margin: 0;}
p {margin: 0; padding: 0; word-break: keep-all; color: $color_head;}
hr {display: none; }
pre {overflow-x: scroll; font-size: 1.2em; }
table {border-collapse: collapse; border-spacing: 0;}
a {text-decoration: none;}
*, :after, :before {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, p, span, pre, i, b, a {font-weight: normal; font-style: normal; font-family: $font; font-weight: normal; color: $color_head;}

/* } 초기화 끝  */
/* 레이아웃 기본 설정 */
#hd, #ft {width: 100%;}
#gnb, .sec_wr, .img_wr {max-width: 1140px; margin: 0 auto; padding: 0 10px; position: relative;}
#container {width: 100%; position: relative; top: -105px;}
section {width: 100%; min-height: 98vh; position: relative;}
section:after {content: ''; display: block; visibility: hidden; clear: both;}

/* 상단 레이아웃 */
#hd {position: sticky; position: -webkit-sticky; top: 0px; left: 0; background: transparent; z-index: 999999;}
#gnb {
    margin-top: 50px; padding-top: 10px;
    &:after {clear: both; visibility: hidden; content: ''; display: block;}
}
#logo {
    float: left;
    a {overflow: hidden;}
    img {height: 35px; width: auto;}
}
#tnb {
    float: right; padding-bottom: 10px;
    li {
        display: inline-block;
        a {
            font-weight: bold; color: #5b5b5b; position: relative; margin: 0 10px; line-height: 35px; padding: 10px; font-size: 1.1em;
            &:after {content: ''; display: block; height: 2px; background: #000; width: 0; transition: width .2s; position: absolute; bottom: 3px; left: 10px;}
        }
        &.active a, &:hover a {color: #000;}
        &.active a:after, &:hover a:after {width: 80%;}
        &:last-child a {padding-right: 0; margin-right: 0;}
    }
}

/* 상단 레이아웃 끝 */

/* 중단 레이아웃 */
.path {position: absolute;}
.pic {background-repeat: no-repeat; background-position: right bottom; background-size: cover;}
.back {background-image: url('../images/back.png');}
.line1 {background-image: url('../images/line1.png');}
.line2 {background-image: url('../images/line2.png');}
.dott {background-image: url('../images/dott.png');}
.ring {border: 9px solid $color_point; border-radius: 50%; background: transparent; width: 39px; height: 39px; box-sizing: border-box; opacity: 0.22;}
.round {border-radius: 50%; background: $color_point; width: 87px; height: 87px; opacity: 0.22;}
.btn {padding: 10px 40px; border-radius: 5px; text-transform: capitalize; position: relative;}
.btn_m {background: $color_point; color: $color_back;}
.btn_w {background: $color_back; color: $color_head;}
.rd_btn {border-radius: 26px; color: #000; font-weight: bold;}
.category {
    display: inline-block; color: $color_point; position: relative; text-transform: uppercase; font-weight: bold; line-height: 5.4;
    &:after {display: block; width: 100%; position: absolute; height: 20%; border-radius: 30px; background: $color_point; opacity: 0.1; top: 45%; left: 10%; content: '';}
}
.title_wr {text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.title {
    color: $color_head; position: relative; text-transform: capitalize; font-size: 2.5em; font-weight: bold; line-height: 1.25; display: inline-block;
    &:after {display: block; width: 90%; height: 70%; border-radius: 30px; background: $color_point; opacity: 0.1; position: absolute; top: 40%; left: 50%; transform: translateX(-50%); content: ''; box-sizing: content-box;}
}

#home {
    .back {width: 994px; height: 1096px; left: 30%; top: -230px;}
    .line1 {width: 391px; height: 468px; left: -15%; top: 217px;}
    .line2 {width: 439px; height: 406px; left: 36%; top: 299px;}
    .r1 {top: 185px; left: 81%;}
    .r2 {top: 426px; left: 99%;}
    .r3 {top: 779px; left: 101%;}
    .r4 {top: 681px; left: 34%;}
    .r5 {top: 267px; left: 32%;}
    .r6 {top: 607px; left: 4.5%;}
    .r7 {top: 525px; left: 52.4%; opacity: 0.06;}
    .sec_wr::after {content: ''; display: block; visibility: hidden; clear: both;}
    .sec_wr {display: flex; justify-content: space-between; align-items: flex-end; padding-top: 17%;}
    .sec_txt {
        padding-left: 10%;
        h1 {
            font-weight: normal; font-size: 4.2em; text-transform: capitalize; line-height: 1.17; letter-spacing: -3px; color: #000;
            b {font-weight: bold; letter-spacing: normal; color: #000;}
        }
        p {font-size: 1.75em; line-height: 2.4; color: #455a64;}
        .st_btn {
            margin: 47px 0 21px; line-height: 1.7; 
            .rd_btn {line-height: 2; font-weight: 600;}
            .more {display: inline-block; padding-left: 18px; font-weight: bold; font-size: 1.25em; line-height: 1.67;}
        }
    }
    .sec_img {
        max-width: 426px;
        img {width: 100%;}
    }
}

#about {
    .sec_wr {display: flex; justify-content: center; max-width: 904px;}
    .intro > div {flex-basis: 40%;}
    .sec_img {
        position: relative; text-align: center; margin-right: 50px; max-width: 450px;
        background-image: url('../images/dott.png'); background-position: right top; background-repeat: no-repeat; background-size: 25%;
        img {width: 431px;}
    }
    .rig {width: 50%; border: 30px solid $color_point; position: absolute; top: -16%; left: -13%; z-index: 2; box-sizing: border-box; max-width: 161.6px; border-radius: 50%;}
    .rig:after{display: block; padding-bottom: 100%; content:'';}
    .sec_txt {
        padding-top: 34px; max-width: 322px;
        h6 {font-size: 0.8em; }
        h3 {font-size: 1.4em; color: $color_head; font-weight: bold; line-height: 1.2; padding-bottom: 30px}
        p {line-height: 1.4; font-size: 1.2em; color: #000; margin-bottom: 55px;}
        button {padding: 20px 45px; border: 0; font-size: 0.83em;}
    }
    .graph {margin: 68px auto; justify-content: space-between;}
    .graph_item {flex-basis: 25%; max-width: 185px; background: $color_back; box-shadow: 0 15px 20px 0 rgba(21, 29, 65, 0.06); position: relative; border-radius: 50%; display: flex; justify-content: center; align-items: center; }
    .graph_item:after {display: block; padding-bottom: 100%; content:'';}
    .graph_line, .graph_per {position: absolute; width: 70%; height: 70%; top: 50%; left: 50%; transform: translate(-50%, -50%);  border-radius: 50%;}
    .graph_line {border: 2px solid rgba(15, 191, 97, 0.2); box-sizing: border-box;}
    .graph_per {transform: translate(-50%, -50%) rotate(-45deg); border: 5px solid $color_point; width: 72%; height: 72%;}
    .graph_text {font-size: 2.4em; font-weight: bold; text-align: center; line-height: 1.4;}
    .graph_text span {font-size: 0.25em; font-weight: normal; display: block; text-transform: uppercase;}
    .graph_item:nth-child(1) .graph_per {border-color: transparent $color_point $color_point transparent;}
    .graph_item:nth-child(2) .graph_per {border-color: transparent $color_point transparent transparent;}
    .graph_item:nth-child(3) .graph_per {border-color: transparent $color_point $color_point $color_point;}
    .graph_item:nth-child(4) .graph_per {border-color: transparent $color_point $color_point transparent;}
}

#service {
    background-position: 95% bottom; background-size: 18%; background-image: url('../images/dott.png'); background-repeat: no-repeat;
    .card_wr {margin: 90px auto; max-width : 1063px; display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; }
    .card {box-sizing: border-box; padding: 59px 38px; flex-basis: 40%; box-shadow: 0 20px 20px 0 rgba(118, 130, 183, 0.18); max-width: 521px; max-height: 287px; flex-grow: 1; border-radius: 3px; background: $color_back;}
    .subject {font-weight: 600; font-size: 1.8em; padding: 18px 0; text-transform: capitalize; position: relative;}
    .card span {font-size: 1.2em; color: #686868;}
    .per {font-size: 3em; font-weight: bold; margin-bottom: 18px;}
    .bar {margin: 5px 0; width: 100%; height: 5px; background: rgba(15, 191, 97, 0.2);}
    .bar .bar_fill {height: 100%; background: $color_point; width: 80%;}
    .card:nth-child(2) .bar_fill {width: 95%;}
    .card:nth-child(3) .bar_fill {width: 85%;}
    .card:nth-child(5) .bar_fill {width: 75%;}
    .desc {padding: 50px 42px; max-width: 442px; max-height: 517px; flex-grow: 0;}
    .icon {width: 35%; background-position: center; background-size: 50%; background-repeat: no-repeat; border-radius: 50%; border: 2px solid $color_point;}
    .desc:nth-child(1) .icon {background-image: url('../images/desktop1.png');}
    .desc:nth-child(4) .icon {background-image: url('../images/cloud.png'); border-color: $color_back;}
    .desc:nth-child(5) .icon {background-image: url('../images/desktop2.png');}
    .icon:after {display: block; padding-bottom: 100%; content:'';}
    .desc p {line-height: 1.63; margin-bottom: 40px; margin-top: 25px;}
    .desc.btn_m .subject { border-bottom-color: $color_point;}
    .desc .btn {padding-left: 22px; }
    .desc img {height: 11px; position: absolute; right: 15px; top: 12px;}
    .sttr {position: relative; width: 100%; height: 3px;}
    .sttr span {position: absolute; top: 0; left: 0; width: 8%; height: 3px; background: $color_point;}
    .sttr span:nth-child(2) {left: 50px;}
    .sttr span:nth-child(3) {left: 100px;}
    .btn_m .sttr span {background: $color_back;}
    .btn_m p {color: $color_back;}
}
/* 중단 레이아웃 끝 */

/* 하단 레이아웃 */
/* 하단 레이아웃 끝 */