@charset "utf-8";

/* 값 설정 */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');
$font : 'Josefin Sans', sans-serif;

$color_back : #fff;
$color_point : #27debf;
$color_head : #151d41;
$color_under : #0fbf61;

/* 값 설정 끝 */

@media (max-width: 1557px) {
    #container {overflow: hidden;}
}